body{
    margin:0px;
    padding:0px;
    background-color: #FFFFB9;
}
table, th, td{
    text-align: center;
    border: 1px solid black;
}

#boton{
    position: relative;
    left: 50%;
    top: 15px; 
    font-size: 25px;
}